
<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">Esporas</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">
    
    <h3>Abaixo temos modelos de esporas totalmente em aço inox.</h3>
    
    <p id="texto_produtos">
       
    </p>
    
    <nav id="nav_produtos">
      <ul id="ul_produtos">
        
        <li>
          <p></p>
          <%= image_tag 'esporas/2.jpg' %>
        </li>
        
        <li>
          <p></p>
          <%= image_tag 'esporas/5.jpg' %>
        </li>
                        
      </ul>
    </nav>
    
        
  </div>
</div>
