
<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">Freios</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">
    
    <h3></h3>
    
    <p id="texto_produtos">
       
    </p>
    
    <nav id="nav_produtos">
      <ul id="ul_produtos">
        
        <li>
          <p></p>
          <%= image_tag 'freios/22.jpg' %>
        </li>
                        
      </ul>
    </nav>
    
        
  </div>
</div>