
<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">Jogo de Números</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">   
    
    <h3>Jogos de Números</h3>
    
    <p id="texto_produtos">
       Jogos de números confeccionados em 100% aço inox, classificados em dois modelos: 
    </p>
    
    <nav id="nav_produtos">
      <ul id="ul_produtos">
        
        <li>
          <p></p>
          <%= image_tag 'jogo_numeros/26.jpg' %>
        </li>
                        
      </ul>
    </nav>
    
    <div id="white_content"><%= image_tag 'jogo_numeros/26.jpg', :class => 'img_selected' %>
      
      <div id="fechar">
        <p>Fechar</p>
      </div>
    </div>
    <div id="black_overlay"></div>
    
        
  </div>
</div>
