<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">Marcadores</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">
    
    <h3>Dinox marcadores em aço inox!</h3>
    
    <p id="texto_produtos">
       A DINOX MARCADORES EM AÇO INOX,  superou os problemas de marcação em animais bovinos e eqüinos. Encontramos a tecnologia adequada que nem mesmo a longo prazo sofrerá deformações. Logotipos fabricados em 100% aço inox, cabos de madeira tratada, garantem a precisão da marcação mantendo seu logotipo bem visualizado e dentro dos padrões originais, evitando dessa forma corte no couro do animal e um visual indesejado.
    </p>
    <nav id="nav_produtos">
      <ul id="ul_produtos">
        
        <li>
          <p>Marcador</p>
          <%= image_tag 'marcadores/7.jpg' %>
        </li>
                
      </ul>
    </nav>

  </div>
</div>