
<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">Mochadores</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">
    
    <h3>Importância de Mochar o Gado</h3>
    
    <p id="texto_produtos">
       Em todas as raças, existe uma tendência mundial na eliminação dos chifres através do avanço das variedades mochas, não é a toa que muitos criadores descornam seus bezerros, o mocho é mais dócil, o que facilita o manejo ganhando peso mais rápido, tanto no pasto como no confinamento, e tem mais, o mocho cabe em maior número no caminhão dando economia no transporte, cabe em maior quantidade no cocho economizando assim, construção e mão de obra.Veja abaixo alguns modelos de mochadores que a DINOX MARCADORES EM AÇO INOX disponibiliza para você. 
    </p>
    
    <nav id="nav_produtos">
      <ul id="ul_produtos">
        
        <li>
          <p>Mochador Martelo Simples</p>
          <%= image_tag 'mochadores/4.jpg', :id => 'mochador01' %>
        </li>
        
        <li>
          <p>Mochador Reto-Reto</p>
          <%= image_tag 'mochadores/6.jpg', :id => 'mochador02' %>
        </li>
        
        <li>
          <p>Mochador Especial Cabo Duplo</p>
          <%= image_tag 'mochadores/23.jpg', :id => 'mochador03' %>
        </li>
                        
      </ul>
    </nav> 
        
  </div>
  
</div>