
<div class="titulo_paginas">
  <div class="center">
    <p class="txt_titulo_paginas">A empresa</p>
  </div>
</div>

<div class="conteudo_paginas">
  <div class="center">
    <div id="conteudo_empresa">
      
      <%= image_tag 'imgempresa.png' %>
      
      <p id="texto_empresa">
        Marcas que fazem História...<br><br>
        A Dinox Marcadores em Aço Inox é  uma empresa atuante no ramo de marcadores 
        para animais em aço inox, com uma tradição de mais de 50 anos passada de pai 
        para filho. A DINOX foi uma empresa que deu continuidade a este trabalho evoluindo 
        para o aço inox, mas mantendo a tradição e não perdendo a filosofia de sua 
        qualidade e satisfação de seus clientes.
      </p>     
      
    </div>
    
  </div>
</div>