<p>Prezados clientes,</br>

Assim como está ocorrendo com diversas empresas do País, boletos fraudulentos estão sendo enviados para nossos clientes na tentativa de iludir para um suposto pagamento com desconto, em substituição aos boletos verdadeiros encaminhados pela Dinox.

Eles alegam que houve erro no cálculo da alíquota do Pis/Cofins e encaminham, no anexo, um boleto falso com um desconto.

Trata-se de prática que, infelizmente, está atingindo um grande número de empresas e, por esta razão, comunicamos nossos clientes que, ao receberem email com este conteúdo, não efetuem qualquer pagamento e, em caso de dúvida, entre imediatamente em contato conosco.

A Dinox não se responsabilizará por qualquer pagamento que seja feito erroneamente.</br>

Att.</br>

Dinox</br>

(14) 3471-2545</br>
</p>
 
<p>
Texto do email:

Endereço do email fraudulento: cobrança@syscob0.com

Informamos a ................, que devido a problemas operacionais em nosso programa de faturamento de NFe, houve um erro no cálculo da alíquota PIS/Cofins, sendo que foi contabilizado a cobrança a mais do valor de R$ .....

Como forma de equalizar o erro de nosso programa, estaremos bonificando com um crédito de R$......... no título ........, com data de vencimento para .......

Solicitamos que despreze o boleto anterior (NÃO EFETUE O PAGAMENTO) de ...... (em DDA) e utilize o NOVO BOLETO EM ANEXO com valor corrigido de .............

Por gentileza, solicitamos que confirme o recebimento.

Obs.: Crédito/Bonificação referente a divergência na cobrança da alíquota PIS/Cofins/CSLL cobrado a maior.</br>

Patrícia Silva</br>

Dpto Financeiro</br>

DUMA ARTEFATOS DE FERRO E AÇO LTDA.</br>
</p>
