
<div id="banner">
  
  <div class="center">
    
    <div id="slider">
      
      <ul class="rslides">
        <li><%= image_tag 'teste.jpg', :alt=>"" %></li>
        <li><%= image_tag 'teste.jpg', :alt=>"" %></li>
        <li><%= image_tag 'teste.jpg', :alt=>"" %></li>
      </ul>
    
    </div>    
    
  </div>
</div>

<div class="conteudo">
  <div class="center">
    <div id="homeconteudo">
    
      <%= image_tag 'imgempresa.png', :id => 'imghome' %>
      
      <h3>A Empresa</h3>
      
      <p id="texto_home">
        Marcas que fazem História...<br><br>
        A Dinox Marcadores em Aço Inox é  uma empresa atuante no ramo de marcadores 
        para animais em aço inox, com uma tradição de mais de 50 anos passada de pai 
        para filho. A DINOX foi uma empresa que deu continuidade a este trabalho evoluindo 
        para o aço inox, mas mantendo a tradição e não perdendo a filosofia de sua 
        qualidade e satisfação de seus clientes.
      </p>
    
    </div>
    
  </div>
</div>