/* 
    Document   : produtos
    Created on : 13/02/2014, 13:59:52
    Author     : eduardo
    Description:
        Purpose of the stylesheet follows.
*/

.conteudo_paginas h3 {
    color: #333;
    font-family: Arial;
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
}

#texto_produtos {
    width: 1024px;
    line-height: 25px;
    font-size: 11.5pt;
    color: #333333;
    font-family: Arial;
    padding-left: 10px;
}

#ul_produtos {
    display: inline-block;
    padding-left: 10px;
}

#ul_produtos li {
    list-style: none;
    float: left;
    margin-right: 33px;
    padding-bottom: 35px;
}

#ul_produtos img{
    width: 300px;
    height: 175px;
    border: 2px solid #E6E6E6;
} 

.img_selected {
    width: 500px;
    height: 330px;
}

#black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #005782;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
#white_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 5px solid #E6E6E6;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

#fechar {
    width: 100px;
    height: 22px;
    border: 2px solid #E6E6E6;
    float: right;
    margin-top: -10px;
    margin-right: -20px;
}

#fechar p {
    text-align: center;
    margin-top: 0px;
}